/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #0a0909;
    color: #efe3e3;
}

/* Header Styles */
header {
    background-color: #333;
    color: rgb(16, 15, 15);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

header.scrolled {
    background-color: #222;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
}

nav ul li a:hover {
    color: #4063ff;
}

/* Main Content Styles */
main {
    padding: 100px 20px 20px 20px;
}

/* Sections Styles */
section {
    margin: 40px 0;
}

/* Bubbles */
.bubble {
    background-color: #fff;
    border: 1px solid #d84949;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.bubble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #f46262, #c8ed12);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.bubble:hover::before {
    opacity: 0.8;
}

.bubble:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.bubble h2 {
    margin-bottom: 15px;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.bubble p,
.bubble ul {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    line-height: 1.8;
}

.bubble ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Gradient Background */
.gradient-bg {
    background: linear-gradient(to right, #ff4081, #ff79a7);
    border-radius: 12px;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.gradient-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ff4081, #ff79a7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.gradient-bg:hover::before {
    opacity: 0.8;
}

.gradient-bg:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.gradient-bg h2 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
}

.gradient-bg p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.8;
}

/* Hover Effects */
.hover-glow {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.hover-glow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    z-index: -1;
}

.hover-glow:hover::before {
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
